[Unit]
Description=Docker Swarm Manager

Requires=docker.service
After=docker.service
[Service]
ExecStart=/usr/bin/docker run -p 2377:2375 --name swarm-manager swarm manage

EnvironmentFile=-/etc/default/swarm-manager
Type=simple

ExecStartPre=-/usr/bin/docker stop swarm-manager
ExecStartPre=-/usr/bin/docker rm swarm-manager
ExecStartPre=/usr/bin/docker pull swarm
[Install]
WantedBy=multi-user.target
