[Unit]
Description=min Service

[Service]
ExecStart=/sbin/ping 127.0.0.1
EnvironmentFile=-/etc/default/min
Type=simple

[Install]
WantedBy=multi-user.target
