[Unit]
Description={{item.systemd_service_Unit_Description|default(item.systemd_service_name+' Service')}}

{% if item.systemd_service_Unit_Documentation is defined %}
Documentation={{ item.systemd_service_Unit_Documentation }}
{% endif -%}

{% if item.systemd_service_Unit_Requires is defined %}
{% if item.systemd_service_Unit_Requires is string %}
Requires={{ item.systemd_service_Unit_Requires }}
{% else %}
Requires={{ item.systemd_service_Unit_Requires | join(",") }}
{% endif %}
{% endif -%}

{% if item.systemd_service_Unit_Wants is defined %}
{% if item.systemd_service_Unit_Wants is string %}
Wants={{ item.systemd_service_Unit_Wants }}
{% else %}
Wants={{ item.systemd_service_Unit_Wants | join(",") }}
{% endif %}
{% endif -%}

{% if item.systemd_service_Unit_ConditionPathExists is defined %}
{% if item.systemd_service_Unit_ConditionPathExists is string %}
ConditionPathExists={{ item.systemd_service_Unit_ConditionPathExists }}
{% endif -%}
{% endif -%}

{% if item.systemd_service_Unit_Before is defined %}
{% if item.systemd_service_Unit_Before is string %}
Before={{ item.systemd_service_Unit_Before }}
{% else %}
Before={{ item.systemd_service_Unit_Before | join(",") }}
{% endif %}
{% endif -%}

{% if item.systemd_service_Unit_After is defined %}
{% if item.systemd_service_Unit_After is string %}
After={{ item.systemd_service_Unit_After }}
{% else %}
After={{ item.systemd_service_Unit_After | join(",") }}
{% endif %}
{% endif -%}

[Service]
ExecStart={{ item.systemd_service_Service_ExecStart }}
EnvironmentFile=-{{ systemd_service_default_dir }}/{{ item.systemd_service_name }}
Type={{ item.systemd_service_Service_Type|default('simple') }}

{% if item.systemd_service_Service_User is defined %}
User={{ item.systemd_service_Service_User }}
{% endif -%}
{% if item.systemd_service_Service_Group is defined %}
Group={{ item.systemd_service_Service_Group }}
{% endif -%}
{% if item.systemd_service_Service_WorkingDirectory is defined %}
WorkingDirectory={{ item.systemd_service_Service_WorkingDirectory }}
{% endif -%}

{% if item.systemd_service_ExecReload is defined %}
ExecReload={{ item.systemd_service_ExecReload }}
{% endif -%}

{% if item.systemd_service_Service_ExecStop is defined %}
ExecStop={{ item.systemd_service_Service_ExecStop }}
{% endif -%}
{% if item.systemd_service_Service_KillMode is defined %}
KillMode={{ item.systemd_service_Service_KillMode }}
{% endif -%}

{% if item.systemd_service_Service_ExecStartPre is defined %}
{% if item.systemd_service_Service_ExecStartPre is string %}
ExecStartPre={{ item.systemd_service_Service_ExecStartPre }}
{% elif item.systemd_service_Service_ExecStartPre is iterable %}
{% for i in item.systemd_service_Service_ExecStartPre %}
ExecStartPre={{ i }}
{% endfor %}
{% endif %}
{% endif -%}

{% if item.systemd_service_Service_ExecStartPost is defined -%}
{% if item.systemd_service_Service_ExecStartPost is string -%}
ExecStartPost={{ item.systemd_service_Service_ExecStartPost }}
{% elif item.systemd_service_Service_ExecStartPost is iterable -%}
{% for i in item.systemd_service_Service_ExecStartPost -%}
ExecStartPost={{ i }}
{% endfor %}
{% endif %}
{% endif -%}

{% if item.systemd_service_Service_ExecStopPost is defined %}
ExecStopPost={{ item.systemd_service_Service_ExecStopPost }}
{% endif -%}

{% if item.systemd_service_Service_PIDFile is defined %}
PIDFile={{ item.systemd_service_Service_PIDFile }}
{% endif %}
{% if item.systemd_service_Service_BusName is defined %}
BusName={{ item.systemd_service_Service_BusName }}
{% endif %}
Restart={{ item.systemd_service_Service_Restart|default('no') }}
{% if item.systemd_service_Service_RestartSec is defined %}
RestartSec={{ item.systemd_service_Service_RestartSec }}
{% endif %}
{% if item.systemd_service_Service_PrivateTmp is defined %}
PrivateTmp={{ item.systemd_service_Service_PrivateTmp }}
{% endif -%}

{% if item.systemd_service_Service_LimitNOFILE is defined %}
LimitNOFILE={{ item.systemd_service_Service_LimitNOFILE }}
{% endif -%}

[Install]
WantedBy={{ item.systemd_service_Install_WantedBy|default('multi-user.target') }}

{% if item.systemd_service_Install_RequiredBy is defined %}
RequiredBy={{ item.systemd_service_Install_RequiredBy }}
{% endif -%}

{% if item.systemd_service_Install_Also is defined %}
Also={{ item.systemd_service_Install_Also }}
{% endif -%}

{% if item.systemd_service_Install_Alias is defined %}
Alias={{ item.systemd_service_Install_Alias }}
{% endif %}
